/* Genel stil */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    background-image: url('https://c0.wallpaperflare.com/path/462/1010/452/supermarket-shelf-blur-yogurt-37279284ff562221f508e069455a6c7b.jpg'); /* Arka plan resmi buraya eklenecek */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #4A90E2;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #4A90E2;
    outline: none;
}

textarea {
    resize: vertical; /* Yüksekliği değiştirilebilir ama genişlik sabit */
    min-height: 150px;
}

button {
    display: block;
    width: 100%;
    background-color: #4A90E2;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #357ABD;
}

p {
    line-height: 1.6;
}

.steam-game {
    margin-top: 40px;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #4A90E2;
    text-align: center;
}
